.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.image {
  height: 300px;
  width: 300px;
  margin: 5px;
}
.contact-heading {
  font-family: 'Roboto';
  font-size: 40px;
  font-weight: bold;
  color: #551e53;
  margin-top: 20px;
  text-align: center;
}
