.navbar {
  margin: 10px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.logo {
  height: 40px;
  width: 40px;
  margin: 5px;
}
.logo-heading {
  font-family: 'Roboto';
  font-size: 24px;
  text-align: center;
  color: #555555;
  margin: 2px;
}
.nav-links-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  list-style-type: none;
}
.nav-link {
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500;
  color: #555555;
  text-align: center;
  margin: 5px;
  text-decoration: none;
}
